*png
*.swp
__pycache__
*.xml
*.pyc
*.smi
*.log
*.xyz
*.sdf
*.meta
*model*
*geo/*
*pkl*
*__tb/*
*h5
*pkl
*.idea/*
*PersistentImages_Chemistry/*
*PersistImages_Chemistry*
*.ipynb_checkpoints
*/.idea/*
*.ipynb
*.pkl
*in
*svg
*index
*gz
*html
*sh
*tar
*pb
*opt
variables*
*out 
*_en
*out
*txt
*tmp
*X
*gbw
*xtberr
*hostnames
*charges
*mol
*slp
*temp
*cpcm
*densities
*save*
*gradient
*prop
*energy
*
